body {
  padding: 0;
  margin: 0;
  font-family: Arial; sans-serif;
}
.clearfix {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
div {
  box-sizing:border-box;
}
header {
  background: url(../img/headback.jpg) no-repeat center top / cover;
  height: 100vh;
}

.banner {
  width: auto;
  height: 50px;
  background: #262626;
}

.container {
  width:930px;
  margin:0 auto;
}

.logo {
  position: fixed;
  margin-top: 7px;
  width: 30px;
  float: right;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.logo:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}
nav {
  background: #262626;
  position: fixed;
  float: right;
  top: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}

.menu {
  padding: 0;
  padding-left: 415px;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
}

.menu li a {
  float: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
}

.menu li a:hover{
  font-weight: bold;
  color: yellow;
}

h1 {
  color: #000;
  vertical-align: middle;
  margin-top: +35%;
  margin-bottom: auto;
  font-size: 100px;
  text-align: left;
}

.design {
  color: #fff;
}
.banner {
  background: #262626;
  display:block;
  width: auto;
}

.title {
  padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

}

.title p {
  color: #777777;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;


}

.about_items {
  width: auto;
  vertical-align: middle;
  text-align: center;
  margin-top: 50px;
}

.about_items h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.about_items p {
  color: #777777;
  font-size: 16px;
  margin-bottom: 5px;


}
#about {
  padding-bottom: 120px;
}

#services {
  background: #f7f7f7f7;
  padding-bottom: 120px;
}

.works img {
  margin-top: 50px;
  float: left;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.works img:last-child {
  float: right;
}

.works img:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.portfolio_items {
  width: auto;
  text-align: center;
  margin-top: 50px;
}
.portfolio_items a{
  margin: 0;
  padding: 0;
  color: #000;
  margin-top: -150px;
  float: right;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.portfolio_items span{
  float: right;
  margin-top: -145px;
}
.cgi {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.html {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.html_items a {
  margin-top: -270px;
  margin-right: 70px;
}

.html_items span{
  margin-top: -260px;
  margin-right: -30px;
}
footer {
  background: #f7f7f7f7;
  padding: 0;
  margin: 0;

}
#contact {
  list-style-type: none;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: 0;
}
